[Unit]
Description=Runs ssh-metrics.sh every 30 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=ssh-metrics.service

[Install]
WantedBy=timers.target